.projects-container {
  margin: 4rem auto; /* Center the container horizontally */
  position: relative;
  width: 90%; /* Adjust container width */
  justify-content: center;
}

.projects-container h5 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 3rem;
  color: #eae8f3;
}

.projects .arrow-left,
 .projects .arrow-right {
  width: 2.2rem;
  height: 2.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #6751b9;
  border-radius: 2rem;
  border: 1.5px solid #6751b9;
  background: #130f2a;
  position: absolute;
  top: 50%;
  z-index: 2;
  cursor: pointer;
}

  .arrow-left,
 .arrow-right {
  font-size: 2rem;
  font-weight: 500;
  transform: translate(800%, -400%); 
}

.arrow-left {
  left: 0;
  transform: translate(-100%, -50%); 
  margin-left: -1px;
  margin-top: 40px;
}

.arrow-right {
  right: 0;
  transform: translate(100%, -50%); 
  margin-right: -1px;
  margin-top: 40px;
} 
.projects-info {
  position: relative;
}

.project-slide {
  text-align: center; /* Center the content inside each slide */
  justify-content: center; 
}

.projects-info img {
  border-radius: 2rem;
  border: 2px solid #6751b9; 
  height: 28rem;
  width: 25rem;
  border-radius: 40px;
  object-fit: cover;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  margin-left: 400px;
}
.projects-info img {
  transform: translateY(-0.5rem);
}
.information{
  background: #130f2a;
  border-radius: 0.85rem;
  border: 1.5px solid #6751b9;
  padding: 1.5rem;
  margin: 0 1rem;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 0.9rem;
  margin-top: 50px;
  line-height: 30px;
}
span{
  color: #6751b9;
}
.project-slide img{
  object-fit: fill;
  object-position: 5px;
  margin: auto;
  width: 1000px;
  height: 500px;
  /* height: 450px;
  width: 400px; */
}

@media (max-width: 768px) {
  /* .projects-container{
    justify-content: center;
    padding: auto;
  } */
  .projects-container h5 {
    font-size: 1.3rem;
    margin-bottom: 2rem;
  }

  .arrow-left,
  .arrow-right {
    width: 1.8rem;
    height: 1.8rem;
  }

  .arrow-left span,
  .arrow-right span {
    font-size: 1.8rem;
  }

  .arrow-left {
    left: -1rem;
    transform: translate(-100%, -50%);
  }

  .arrow-right {
    right: -1rem;
    transform: translate(100%, -50%);
  }
  .projects-info img {
    height: 350px;
    width: 300px;
  }
}
@media (max-width: 425px) {
  .projects-container h5 {
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
  }

  .arrow-left,
  .arrow-right {
    width: 1.5rem;
    height: 1.5rem;
  }

  .arrow-left span,
  .arrow-right span {
    font-size: 1.5rem;
  }

  .arrow-left {
    left: -0.5rem;
    transform: translate(-100%, -50%);
  }

  .arrow-right {
    right: -0.5rem;
    transform: translate(100%, -50%);
  }
  .projects-info img {
    height: 280px;
    width: 320px;
  }
}
