/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.container {
  max-width: 1300px !important;
  margin: 0 auto;
  position: relative;
}
@media (max-width: 1300px) {
  .container{
    padding: 0 1.5rem;
  }
}
/* .glitch{
  position: inherit;
  display: inline-block;
  animation: glitch 1s infinite;
}
@keyframes .glitch{
  0%{
    transform: translate(0);
  }
  25%{
    transform: translate(-5px, 5px);
  }
  50%{
    transform: translate(5, -5px);
  }
  75%{
    transform: translate(-5px, 5px);
  }
  100%{
    transform: translate(0);
  }
} */